events {}

http {
  upstream nodejs_servers {
    server node-instance1:6001;
    server node-instance2:6001;
    # Add more server entries for additional instances
  }

  server {
    listen 80;
    server_name localhost;

    location / {
      proxy_pass http://nodejs_servers;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_cache_bypass $http_upgrade;
    }
  }
}
